<header>
    <div class="logo-line">
        <img src="./img/logo.png" alt="">
        <div>
            <h1>Build Home</h1>
            <span>Industrial Theme</span>
        </div>
        <ul>
            <li><a href="#"></a></li>
            <li><a href="#"></a></li>
            <li><a href="#"></a></li>
            <li><a href="#"></a></li>
            <li><a href="#"></a></li>
        </ul>

    </div>
    <div class="menu-line">
        <ul class="menu">
            <li class="active"><a href="">HOME</a></li>
            <li><a href="">FEATURES</a></li>
            <li><a href="">SERVICES</a></li>
            <li><a href="">NEWS</a></li>
            <li><a href="">SHOP</a></li>
        </ul>
        <div class="search-block">
            <form action="">
                <input type="text" placeholder="Search...">
                <button type="submit"><img src="img/search.png"></button>
            </form>
        </div>
    </div>
</header>