<main>
<section class="news-block">
		<div class="news_block_page">
			<div class="news">
				<h3>Latest News</h3>
				<ul>
					<li class="news_item">
						<div class="new_img">
							<img src="./img/news_pic_1.png" alt="">
							<ul class="news_date">
								<li><span>Jan</span></li>
								<li><span>23</span></li>
							</ul>
						</div>
						<div class="news_content">
							<h4>Advanced Machinery Helps Improve Quality</h4>
							<p>
								<span>by </span>
								<a href="#" id="news_writer">cmsmasters</a>
								<span>Comments (</span>
								<a href="#" id="comm_news_1">6</a>
                                <span>)</span>
							</p>
							<p>Cum sociis natoque penatibus et magnis dis parturient ontesmus. Pro vel nibh et elit mollis commodo et nec augueique Nemo enim ipsam voluptatem quia ptas sit aspernatur samomo enim ipsam voluptatem.</p>
						</div>
					</li>
					<li class="news_item">
						<div class="new_img">
							<img src="./img/news_pic_2.png" alt="">
							<ul class="news_date">
								<li><span>Jan</span></li>
								<li><span>21</span></li>
							</ul>
						</div>
						<div class="news_content">
							<h4>Powerful Techniques for Advanced Service</h4>
							<p>
								<span>by </span>
								<a href="#" id="news_writer">cmsmasters</a>
								<span>Comments (</span>
                                <a href="#" id="comm_news_2">3</a>
                                <span>)</span>
							</p>
							<p>Cum sociis natoque penatibus et magnis dis parturient ontesmus. Pro vel nibh et elit mollis commodo et nec augueique Nemo enim ipsam voluptatem quia ptas sit aspernatur samomo enim ipsam voluptatem.</p>
						</div>
					</li>
				</ul>
			</div>
			<div class="news__accordion">
				<h3>Banners Place</h3>
				<h4>ACCORDION PANEL1</h4>
					<p>Cum sociis natoque penatibus et magnis dis parturient mus. 
					Pro vel nibh et elit mollis commodo et nec augueique Nemo enim ipsam 
					voluptatem quia ptas sit aspernatur momo. Cum sociis natoque penatibus 
					et magnis dis parturient ontesmus. Nemo enim ipsam voluptatem quia ptas sit 
					aspernatur samomoPro vel nibh et elit mollis commodo et nec augueique Nemo 
					enim ipsam voluptatem quia ptas sit aspernatur </p>
				<h4>ACCORDION PANEL2</h4>
					<p>Cum sociis natoque penatibus et magnis dis parturient mus. 
					Pro vel nibh et elit mollis commodo et nec augueique Nemo enim ipsam 
					voluptatem quia ptas sit aspernatur momo. Cum sociis natoque penatibus 
					et magnis dis parturient ontesmus. Nemo enim ipsam voluptatem quia ptas sit 
					aspernatur samomoPro vel nibh et elit mollis commodo et nec augueique Nemo 
					enim ipsam voluptatem quia ptas sit aspernatur </p>
				<h4>ACCORDION PANEL3</h4>
					<p>Cum sociis natoque penatibus et magnis dis parturient mus. 
					Pro vel nibh et elit mollis commodo et nec augueique Nemo enim ipsam 
					voluptatem quia ptas sit aspernatur momo. Cum sociis natoque penatibus 
					et magnis dis parturient ontesmus. Nemo enim ipsam voluptatem quia ptas sit 
					aspernatur samomoPro vel nibh et elit mollis commodo et nec augueique Nemo 
					enim ipsam voluptatem quia ptas sit aspernatur </p>
				<h4>ACCORDION PANEL4</h4>
					<p>Cum sociis natoque penatibus et magnis dis parturient mus. 
					Pro vel nibh et elit mollis commodo et nec augueique Nemo enim ipsam 
					voluptatem quia ptas sit aspernatur momo. Cum sociis natoque penatibus 
					et magnis dis parturient ontesmus. Nemo enim ipsam voluptatem quia ptas sit 
					aspernatur samomoPro vel nibh et elit mollis commodo et nec augueique Nemo 
					enim ipsam voluptatem quia ptas sit aspernatur </p>
			</div>
		</div>
	</section>
</main>