<div class="carousel-line">
        <div id="container">
            <div id="rs-carousel" class="rs-carousel module">
                <ul class="carousel_slider">
                    <li class="carousel_item">
                        <p><span>Build</span></p>
                        <p><span>your</span></p>
                        <p><span>business</span></p>
                    </li>
                    <li class="carousel_item">
                        <p><span>Enjoy</span></p>
                        <p><span>your</span></p>
                        <p><span>business</span></p>
                    </li>
                    <li class="carousel_item">
                        <p><span>Care</span></p>
                        <p><span>your</span></p>
                        <p><span>business</span></p>
                    </li>
                </ul>
            </div>
        </div>
    </div>