/* ###################################################### */
/* ### 05. Images */
/* ###################################################### */

figure.avatar {
  z-index: 2;
  margin: 5rem auto -2rem auto;

  img {
    width: 148px;
    height: auto;
  }

}

@media (max-width: 767px) {

  figure.avatar {

    img {
      width: 110px;
    }

  }

}