* {
    margin: 0;
    padding: 0;
}
header{
    width: 1160px;
    margin: 0 auto;
}
li {
    display: inline-block;
    list-style: none;
}
.logo-line {
    position: relative;
    height: 110px;
    padding: 30px 0 0 0;
    box-sizing: border-box;
    img {
            display: inline-block;
            width: 36px;
            height: 36px;
            margin-right: 10px;
        }
    div {
        display: inline-block;
        position: relative;
        left: 0;

        h1 {
            display: block;
            font-family: ubuntumedium;
            font-size: 30px;
            font-weight: 400;
            margin-bottom: -5px;
        }
        span {
            display: block;
            font-family: ubuntulight;
            font-size: 12px;
            text-transform: uppercase;
            letter-spacing: 3px;
            word-spacing: 10px;
        }
    }
    ul {
        position: absolute;
        top: 50px;
        right: 0;
        li {
            width: 16px;
            height: 16px;
            margin-left: 10px;

            a {
                display: block;
                background: url('../img/sprite-logo.png') no-repeat;
                width: 16px;
                height: 16px;
                background-position: 0px -1px;
            }
        }
        li:nth-child(2) a {
            background-position: -16px -2px;
        }
        li:nth-child(3) a {
            background-position: -32px -1px;
        }
        li:nth-child(4) a {
            background-position: -48px -1px;
        }
        li:last-child a {
            background-position: -64px -1px;
        }
        li a:hover {
            background-position: 0px -17px;
        }
        li:nth-child(2) a:hover {
            background-position: -16px -18px;
        }
        li:nth-child(3) a:hover {
            background-position: -32px -17px;
        }
        li:nth-child(4) a:hover {
            background-position: -48px -17px;
        }
        li:last-child a:hover {
            background-position: -64px -17px;
        }
    }
}

.menu-line {
    position: relative;
    background-color: #2a2d32;
    margin-bottom: 40px;
}
.menu {
    display: inline-block;
    height: 56px;
    .active {
        background-color: #248cec;
    }
    li {
        border-right: 1px solid #181a1d;
        line-height: 56px;
    }
    a {
        display: block;
        padding: 0 36px;
        text-decoration: none;
        font-family: ubunturegular;
        color: #fff;
    }
    a:hover {
        color: #f4b60d;
    }
}
.search-block {
    border: 1px solid rgb(24, 26, 29);
    background: #35383c;
    position: absolute;
    right: 5px;
    top: 6px;
    width: 239px;
    input {
        width: 200px;
        height: 42px;
        background: #35383c;
        color: white;
        border: 0 solid transparent;
        padding-left: 5px;
    }
    button {
        border: 0;
        background: 0 0;
    }
}