/* ###################################################### */
/* ### 01. Fonts */
/* ###################################################### */

@font-face {
  @include font-face;
  font-weight: normal;
  font-style: normal;
}

@font-face {
  @include font-face;
  font-weight: bold;
  font-style: normal;
}

@font-face {
  @include font-face;
  font-weight: normal;
  font-style: italic;
}

@font-face {
  @include font-face;
  font-weight: bold;
  font-style: italic;
}