/* ###################################################### */
/* ### 02. General */
/* ###################################################### */

::-moz-selection {
  background: $color_brand;
  color: $color_light;
}

::selection {
  background: $color_brand;
  color: $color_light;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  border-radius: 0;
  background: $color_dark;
}

::-webkit-scrollbar-thumb {
  border-radius: 0;
  background: $color_brand;
}

body,
html {
  min-height: 100%;
}

body {
  @include app-background($color_dark, 'background_off.png');
}

.container {
  max-width: 960px;
}

#background {
  position: absolute;
  width: 100%;
  opacity: 0;
  -webkit-transition: opacity $candle_fire ease-in-out;
  transition: opacity $candle_fire ease-in-out;
  top: 0;
  left: 0;
  @include app-background($image: 'background_on.png');

  &.flash {
    opacity: 1;
  }

}

#content-wrapper {
  background: rgba($color_brand, .75);
  margin: 1rem auto;
  width: 100%;
  border-radius: $border_radius;
  border: 2px solid darken($color_brand, 5%);
  box-shadow: 0 0 20px rgba($color_dark, .75);
}

@media (min-width: 768px) {

  #wrapper {
    margin-top: -4rem;
  }

}

.disclaimer-container {
    background: rgba(255,255,255,0.5);
    padding: 5px 0;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;

    @media (max-width: 768px) {
        display: none;
    }
}

.disclaimer {
    margin:auto;
    max-width:960px;
}

.chat-wrapper {
    max-height: 100px;
    @media (max-width: 768px) {
        max-height: 200px;
    }
}
