<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>Services</title>
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/services.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="js/jquery.accordion.js"></script>
    <script src="js/jquery.easing.1.3.js"></script>
    <script src="js/template.js"></script>
    <script src="js/services.js"></script>
    <script src="js/script.js"></script>
</head>
<body>
<!--////////////////////////////// HEADER //////////////////////////////-->
<header>
    <div class="wrapper">
        <div class="header-desc">
            <div class="header-left">
                <div class="header-left__text">
                    <div class="text-container">
                        <p>SPA И МАССАЖ В КИЕВЕ</p>
                    </div>
                </div>
                <div class="header-menu">
                    <div class="menu-container">
                        <a class="header-menu__link" href="index.html">ГЛАВНАЯ</a>
                        <img class="tilda" src="img/tilda.png" alt="">
                        <a class="header-menu__link" href="about.html">ОБО МНЕ</a>
                        <img class="tilda" src="img/tilda.png" alt="">
                        <a class="header-menu__link" href="services.html">УСЛУГИ</a>
                        <img class="tilda tilda-dn" src="img/tilda.png" alt="">
                    </div>
                </div>
            </div>
            <div class="header-logo">
                <a href="index.html"><img class="header-logo_img" src="img/logo.svg" alt=""></a>
            </div>
            <div class="header-right">
                <div class="header-right__text">
                    <div class="text-container">
                        <a href="tel:+380506204759">+ 38 (050) 620-4759</a>
                        <p>ул. Институтская 22/7</p>
                    </div>
                </div>
                <div class="header-menu">
                    <div class="menu-container">
                        <img class="tilda tilda-dn" src="img/tilda.png" alt="">
                        <a id="go-to-contacts" class="header-menu__link" href="#section-contacts">КОНТАКТЫ</a>
                        <img class="tilda" src="img/tilda.png" alt="">
                        <a id="go-to-rewievs" class="header-menu__link" href="#rewievs">ОТЗЫВЫ</a>
                        <img class="tilda" src="img/tilda.png" alt="">
                        <a class="header-menu__link" href="articles.html">СТАТЬИ</a>
                    </div>
                </div>
            </div>

        </div>
        <div class="header-mob">
            <div class="header-mob__logo">
                <a href="index.html"><img class="header-logo_img" src="img/logo.svg" alt=""></a>
            </div>
            <div class="header-mob__text">
                <p>SPA И МАССАЖ В КИЕВЕ</p>
                <br>
                <a href="tel:+380506204759">+ 38 (050) 620-4759</a>
                <p>ул. Институтская 22/7</p>

            </div>

        </div>
        <div class="header-mob__menu">
            <div class="menu-button">Меню</div>
            <ul class="mob-menu">
                <li class="menu-item"><a href="index.html" class="item-link">Главная</a></li>
                <li class="menu-item"><a href="about.html" class="item-link">Обо мне</a></li>
                <li class="menu-item"><a href="services.html" class="item-link">Услуги</a></li>
                <li class="menu-item"><a href="#section-contacts" class="item-link">Контакты</a></li>
                <li class="menu-item"><a href="#rewievs" class="item-link">Отзывы</a></li>
                <li class="menu-item"><a href="articles.html" class="item-link">Статьи</a></li>
            </ul>
        </div>
    </div>
</header>
<!--////////////////////////////// END OF HEADER //////////////////////////////-->
<!--////////////////////////////// SERVICES //////////////////////////////-->
<main>
    <div class="wrapper">
        <div class="section-header">
            <div class="section-header__left-flower"></div>
            <div class="section-header__right-flower"></div>
            <h3 class="section-header__first-text">Массаж для вас</h3>
            <h4 class="section-header__second-text">Величайшее удовольствие</h4>
            <h5 class="section-header__third-text">При достойном качестве услуг и блаженства наши цены шикарны и очень
                доступны!</h5>
        </div>
        <div class="accordion-container">

        </div>
        <div class="certificate">
            <p class="certificate-text">На все виды процедур можно приобрести подарочные сертификаты</p>
            <img class="certificate-image" src="img/certificate.png" alt="">
        </div>
</main>
<!--////////////////////////////// END OF SERVICES //////////////////////////////-->
<!-- ////////////////////////////// FOOTER ////////////////////////////// -->

<footer>
    <div class="wrapper">
        <div class="footer-desc">
            <div class="footer-left">
                <div class="footer-left__text">

                    <p>SPA И МАССАЖ В КИЕВЕ</p>
                    <p>Замечательний масаж от Лилии</p>
                    <p>который принесет счастье Вам</p>

                </div>
            </div>
            <div class="footer-logo">
                <a href="#"><img class="footer-logo__img" src="img/logo.svg" alt=""></a>
            </div>
            <div class="footer-right">
                <div class="footer-right__text">

                    <a href="tel:+380506204759">+ 38 (050) 620-4759</a>
                    <p>ул. Институтская 22/7</p>

                </div>
            </div>
        </div>
        <div class="footer-mob">
          <div class="footer-mob__logo">
            <a href="#"><img class="footer-logo__img" src="img/logo.svg" alt=""></a>
          </div>
          <div class="footer-mob__text">
            <p>SPA И МАССАЖ В КИЕВЕ</p>
            <a href="tel:+380506204759">+ 38 (050) 620-4759</a>
            <p>ул. Институтская 22/7</p>
          </div>
        </div>

    </div>
</footer>
<div class="section-copyright">
    <div class="wrapper">
        <p class="section-copyright__text">All rights reserved. | Copyright © “Lilymassage” 2017</p>
        <div id="back-top">
            <a href="#top"><img class="back-to-top__img" src="img/button_top_noactive.png" alt=""></a>
        </div>
    </div>
</div>
<!-- ////////////////////////////// END OF FOOTER ////////////////////////////// -->
<!-- ////////////////////////////// TEMPLATE ////////////////////////////// -->
<script type="text/template" id="massage-services">
    <div id="st-accordion" class="st-accordion">
        <ul>
            <% for ( var i = 0; i < data.length; i++) { %>
            <li>
                <a class="title" href="#">
                    <span><span class="st-closed"></span><%= data[i].title %></span>
                </a>
                <div class="st-content">
                    <div class="clearfix">
                        <div class="content-img content-img__<%= data[i].img%>"></div>
                        <p class="specification"><%= data[i].specification %></p>
                    </div>
                    <a href="#" class="button-hello">заказать массаж</a>
                    <ul class="clearfix">
                        <% for ( var j = 0; j < data[i].kinds.length; j++) { %>
                        <li><span class="kind"><%= data[i].kinds[j].kind %></span> <span class="duration"><%= data[i].kinds[j].duration%>мин</span>
                            <span class="price"><%= data[i].kinds[j].price%>грн</span></li>
                        <% }; %>
                    </ul>
                    <p class="addition"><%= data[i].addition %></p>
                </div>
            </li>
            <% }; %>
        </ul>
    </div>
</script>
<!-- ////////////////////////////// END OF TEMPLATE ////////////////////////////// -->
</body>
</html>
